.dungeon {
  background: grey;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  width: 132px;
}

.cell {
  width: 12px;
  height: 12px;
}

.floor {
  background: white;
}

.health {
  background: green;
}

.player {
  background: blue;
}

.enemy, .boss {
  background: red;
}

.weapon {
  background: gold;
}
