.dungeon {
  display: flex;
  flex-wrap: wrap;
  width: 1200px;
  /*width: 132px;
  height: 1200px;
  height: 132px;*/
  background: grey;
  margin: 0 auto;
}

.cell {
  width: 12px;
  height: 12px;
}

.floor {
  background: white;
}

.health {
  background: green;
}

.player {
  background: blue;
}

.enemy, .boss {
  background: red;
}

.weapon {
  background: gold;
}
